{% extends "base.html" %}
{% block content %}

<div style="margin-top:120px; padding:20px;">
    <h2>Login</h2>

    <form method="POST">
        <input name="email" placeholder="Email" required
               style="width:100%; padding:10px; margin-top:10px;">
        <input name="password" type="password" placeholder="Password" required
               style="width:100%; padding:10px; margin-top:10px;">
        <button class="btn btn-primary" style="margin-top:15px;">Login</button>
    </form>

    <p style="margin-top:15px;">
        No account? <a href="{{ url_for('register') }}" style="color:#e50914;">Register</a>
    </p>
</div>

{% endblock %}

