{% extends "base.html" %}
{% block content %}

<div style="margin-top: 100px; padding: 20px;">

    <img src="{{ url_for('static', filename=product.image) }}" 
         style="width: 100%; max-width: 400px; border-radius: 10px;">

    <h1 style="margin-top:20px;">{{ product.name }}</h1>
    <p style="opacity:0.8;">R{{ product.price }}</p>

    <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
        <button class="btn btn-primary" style="margin-top:15px;">Add to Cart</button>
    </form>

</div>

{% endblock %}
