{% extends "base.html" %}
{% block content %}

<div style="margin-top: 80px;"></div>

<h2 class="section-title">🔥 All Shirts</h2>
<div class="product-row">
    {% for p in shirts %}
    <a href="{{ url_for('product_page', product_id=p['id']) }}" class="product-card">
        <img src="{{ url_for('static', filename=p['image']) }}">
        <div class="product-card-info">
            <div class="product-name">{{ p.name }}</div>
            <div class="product-price">R{{ p.price }}</div>
        </div>
    </a>
    {% endfor %}
</div>

<h2 class="section-title">👟 Sneakers</h2>
<div class="product-row">
    {% for p in sneakers %}
    <a href="{{ url_for('product_page', product_id=p['id']) }}" class="product-card">
        <img src="{{ url_for('static', filename=p['image']) }}">
        <div class="product-card-info">
            <div class="product-name">{{ p.name }}</div>
            <div class="product-price">R{{ p.price }}</div>
        </div>
    </a>
    {% endfor %}
</div>

<h2 class="section-title">🧢 Hats</h2>
<div class="product-row">
    {% for p in hats %}
    <a href="{{ url_for('product_page', product_id=p['id']) }}" class="product-card">
        <img src="{{ url_for('static', filename=p['image']) }}">
        <div class="product-card-info">
            <div class="product-name">{{ p.name }}</div>
            <div class="product-price">R{{ p.price }}</div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
